:root {
    --brand-primary: #0768ac;
    --brand-secondary: #03c180;
    --bg_default: #ffffff;
    --bg_body: #f0f9ff;
    --lines-color: #dddddd;
    --body-text: #333333;
    --heart-color: #dc143c;
  }

*{
    padding: 0;
    margin: 0;
    /* outline: 1px red solid; */
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg_body);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg_default);
    color: var(--body-text);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

h3 {
    margin: 20px;
    color: var(--brand-primary);
}

.header-buttons {
    margin: 20px 25px;
}

#favbt{
    justify-content: center;
    align-items: center;
}

/* General button styles */
.header-buttons button {
    display: inline-flex;
    align-items: center;
    padding: 10px 25px 10px 25px;
    font-size: 14px;
    font-weight: 150;
    color: var(--body-text);
    background-color: var(--bg_default);
    border: 1px solid var(--lines-color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-buttons button:hover {
    background-color: var(--bg_body);
}

/* Icon alignment */
.header-buttons ion-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.3px;
    margin: 0.1px 10px 0.1px 0.1px;
}

.welcome-content {
    background-color: var(--bg_default);
}

/* Second Header: Welcome Section */
.welcome-section {
    text-align: center;
    color: var(--bg_default);
}

.welcome-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
    color: var(--brand-secondary);
    /* Green text for the title */
    margin: 0 0 10px 0;
}

.welcome-subtitle {
    font-size: 18px;
    color: var(--body-text);
    margin: 0;
    padding-bottom: 15px;
}

/* Responsive adjustments for welcome section */
@media (max-width: 768px) {
    .welcome-title {
        font-size: 28px;
        /* Slightly smaller title on mobile */
    }

    .welcome-subtitle {
        font-size: 16px;
        /* Slightly smaller subtitle on mobile */
    }
}

h2 {
    display: flex;
    justify-content: left;
    margin-top: 25px;
    margin-left: 50px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    margin: auto; 
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 6px 6px;
    background-color: var(--bg_default); 
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap; 
}

#search {
    flex: 1;
    width: 100%;
    max-width: 1670px;
    background-color: var(--bg_default);
}

.nav-bar input {
    width: 50%; /* Adjust width of the search bar */
    padding: 8px 10px;
    background-color: var(--bg_default);
    margin-right: 10px;
    flex: 1;
   /*border: 1px solid var(--lines-color); /* Border to match the other elements */
    /*border-radius: 5px; /* Rounded input field */
}

.nav-bar select { 
    border: none;
    border-left: solid 1px var(--lines-color);
    padding: 8px 10px;
    /*border: 1px solid var(--lines-color);*/
    /*border-radius: 5px;*/
    background-color: var(--bg_default);
    color: var(--body-text);
}

/* Responsive Styles */
@media (max-width: 600px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #search{
        width: auto;
        margin-bottom: 10px;
        margin-left: 40px;
    }

    .nav-bar select {
        width: 100%;
    }

    .nav-bar input {
        margin-right: 0;
    }
}

/*.card {
    border: 1px solid var(--lines-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: var(--bg_default);
    text-align: center;
    height: 350px; /* Set a fixed height for the card 
    display: flex; /* Make the card a flex container 
    flex-direction: column; /* Arrange items in a column 
}

.card:hover {
    transform: scale(1.02); /* Slight scale effect on hover 
}

.card img {
    width: 100%;
    height: auto; /* Allow image height to scale while maintaining aspect ratio 
    flex-shrink: 0; /* Prevent the image from shrinking 
}*/

/*.card-content {
    display: flex; /* Make the card content a flex container 
    flex-direction: column; /* Arrange items in a column 
    justify-content: space-between; /* Space out the content 
    padding: 10px; /* Add padding 
    flex-grow: 1; /* Allow the content to grow and fill available space 
    text-align: left;
}*/

.colorful-bg {
    background-color: var(--bg_default);
    height: 75px;
    position: relative;
    overflow: hidden;
}

.colorful-bg div {
    height: 100%;
    width: 100%;
    position: absolute;
}

.colorful-bg .blue {
    background: linear-gradient(
      90deg,
      var(--brand-primary) 40%,
      var(--brand-secondary) 100%
    );
    transform: skewY(-3deg);
    transform-origin: left bottom;
}

.colorful-bg .green {
    background-color: var(--brand-secondary);
    transform: skewY(3deg);
    transform-origin: right bottom;
}

input {
    outline: none;
    border: none;
}

.container-of-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* Adjust columns */
    gap: 30px;/* Space between the cards */  
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 6%;
}

/* Dark Mode Styles */
body.dark-mode {
    --bg_default: #1A1A1A;
    --bg_body: #282828;
    --lines-color: #000000;
    --body-text: #EDEDED;
}

header.dark-mode {
    background-color: var(--bg_default); /* Ensure header has the same background as body in dark mode */
    color: var(--body-text);
}

.header-buttons button.dark-mode {
    background-color: var(--bg_body); /* Ensure button background matches dark mode */
    color: var(--body-text);
}

.nav-bar.dark-mode {
    background-color: var(--bg_default); /* Set background for the nav bar in dark mode */
    color: var(--body-text);
}

.nav-bar input {
    background-color: var(--bg_body); /* Ensure input background matches dark mode */
    color: var(--body-text); /* Set text color */
    /*border: 1px solid var(--lines-color); /* Set border color */
}

.card.dark-mode {
    background-color: var(--bg_default);
    border: 1px solid var(--lines-color);
    color: var(--body-text);
}

.card-content.dark-mode {
    color: var(--body-text);
}

.description.dark-mode,
.topic-name.dark-mode,
.author.dark-mode {
    color: var(--body-text);
}

.course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 100%;
    /* border: 0; */
    /* padding: 0; */
    /* margin: 10px 0; */
    border-radius: 12px;
    background-color: var(--bg_default);
    overflow: hidden;
}

.course:hover{
    transform: translateY(-5px);
}

.course img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
    display: block;
    margin: 0 auto;
}

.course-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3%;
}

.course-text .category{
    padding: 3% 5%;
    color: var(--body-text);
}

.course-text .topic {
    padding: 3% 5%;
    color: var(--body-text);
    font-weight: bold;
    font-size: medium;
}

.course-text .rating{
    margin-top: auto;
    padding: 0 5%;
    color: #f39c12;
    font-weight: bold;
    text-align: left;
}

.course-text .name {
    margin-top: 4%;
    padding: 5% 5%;
    color: var(--body-text);
    text-align: left;
}

/*.course {
    border: 0;
    padding: 0;
    margin: 10px 0;
    border-radius: 12px;
    background-color: var(--bg_default);
    overflow: hidden;
}

.course img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
    display: block;
    margin: 0 auto;
}

.course-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%
}

.course-text .category {  
    padding-top: 3%;
    padding-left: 5%;
    color: var(--body-text);
    font-size: small;
    font-weight: bold;
}

.course-text .topic {
    padding-top: 3%;
    padding-left: 5%;
    color: var(--body-text);
    font-weight: bold;
}

.course-text .rating {
    padding: 4%;
    color: #f39c12;
    font-size: 1.2em;
}

.course-text .name {
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 7%;
    color: var(--body-text);
    font-size: 1em;
}*/

/* Targeting p tags inside course-text */

/* Additional styling for card content 
.description {
    font-size: 12px;
    /* Adjusted font size 
    color: #555;
    margin: 5px 0;
    /* Adjusted margin 
}

.topic-name {
    font-size: 16px;
    /* Adjusted font size 
    font-weight: bold;
    color: var(--body-text);
    margin-bottom: 5px;
    /* Adjusted margin 
}

.rating {
    margin: 5px 0;
    /* Adjusted margin 
}

.stars {
    color: #ffcc00;
    font-size: 16px;
}

.author {
    font-size: 12px;
    /* Adjusted font size 
    color: #777;
    margin-top: 10px;
    /* Adjusted margin 
}*/

ion-icon {
    margin-right: 10px; /* Space between icon and input */
    margin-left: 10px;
    font-size: 18px; /* Adjust icon size */
}